<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491904435983-hkev0atlqmrm3ub81ae17mk0u1ebighk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491904435983-hkev0atlqmrm3ub81ae17mk0u1ebighk</string>
	<key>API_KEY</key>
	<string>AIzaSyAyF2G31GauqyHWdxlVcZss9jILmCJsXaA</string>
	<key>GCM_SENDER_ID</key>
	<string>491904435983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileteste.firebase</string>
	<key>PROJECT_ID</key>
	<string>teste-286704</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-286704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491904435983:ios:7103207af217afed70e07a</string>
	<key>DATABASE_URL</key>
	<string>https://teste-286704.firebaseio.com</string>
</dict>
</plist>